header{
    background-color:red;
padding:10px;
color:yellow;
text-align:center;
text-decoration:underline;
    font-size:33px;
}
nav{
background-color:yellow;
    padding:7px;
}
li{
display:inline-block;
    padding-right:35px;
}
a{
text-decoration:none;
    color:red;
font-weight:bold;
}
h2{
color:black;
    text-decoration:underline;
}
#home{
background-color:red;
    color:yellow;
text-align:center;
    padding:10px;
 height:320px;
}
#i1{
    float:right;
}
#about{
background-color:yellow;
color:blue;
    text-align:center;
padding:10px;
    height:320px;
}
#i2{
float:left;
}
#best{
    background-color:red;
 color:yellow;
text-align:center;
    padding:10px;
 height:320px;
}
#popular{
     background-color:yellow;
color:blue;
text-align:center;
    padding:10px;
height:320px;
}
footer{
    background-color:red;
font-size:23px;
    color:yellow;
text-align:center;
    padding:10px;
}
h1:hover{
color:white;
}
